/* color palette from <https://github.com/vuejs/theme> */
@import "tailwindcss";

body{
    overflow-x: hidden;
    background: linear-gradient(175deg, #c2c1c1 0%, #fff 50%, #c2c1c1 80%);
}

::selection {
    background-color: rgba(34, 34, 34, 0.445);
    color: white;
}
